{% extends 'base.html' %}
{% block maincontent %}
<title>Conference dinner</title>
    <h1>Conference dinner</h1>
    <h3>The Dinner will be hosted at the elegant Kielce Palace of the Bishops</h3>
    <h4>The Kielce Palace of the Bishops is a historic and architectural gem located in Kielce, Poland. It is one of the best-preserved examples of early Baroque architecture in the country, serving as a significant cultural and historical landmark.

        Constructed between 1637 and 1641, the palace was commissioned by Jakub Zadzik, the Bishop of Kraków. The design and construction were overseen by the Italian architect Giovanni Trevano. Originally built as a residence for the Bishops of Kraków, the palace served both as a home and a fortified stronghold.
        
        The palace is an exemplary model of early Baroque architecture, characterized by its symmetry, grandeur, and decorative elements. The exterior features a beautifully adorned facade with intricate stonework, pilasters, and a grand entrance. Inside, the palace boasts richly decorated rooms with frescoes, stucco work, and period furnishings, reflecting the opulence and artistic tastes of the 17th century.
        
        One of the most impressive rooms in the palace is the Great Hall, known for its ornate ceiling and wall decorations. The palace chapel is notable for its beautiful altar, religious artworks, and stained glass windows. Today, the palace houses the National Museum in Kielce, which features collections of Polish art, historical artifacts, and exhibits on the history of the palace and the region.
        
        The palace is surrounded by well-maintained gardens and courtyards, providing a serene and picturesque setting. The gardens feature historical statues, fountains, and walking paths. Remnants of the original fortifications can still be seen, adding to the historical atmosphere of the site.
        
        Not only a historical residence, the Kielce Palace of the Bishops is also a center for cultural activities. It hosts various exhibitions, concerts, and cultural events throughout the year, attracting visitors from all over Poland and beyond. The palace is easily accessible from the city center and is a must-visit for anyone interested in history, architecture, and culture. The palace and museum have specific visiting hours, which can be checked on the National Museum in Kielce's official website or by contacting the museum directly.
        
        The Kielce Palace of the Bishops stands as a testament to the rich cultural and historical heritage of Kielce, offering visitors a glimpse into the grandeur of Poland's past.</h4>
    
        <div><img src="{{ url_for('static', filename='images/Kielce.jpg') }}" class="image"></div>
{% endblock %}