{% extends 'base.html' %}
{% block maincontent %}
<title>KETCHUP 2024</title>
    <h1> Kielce Experimental and Theoretical Conference on High-energy and Universe Physics 2024 (KETCHUP 2024)</h1>
    <h2>September 12, 2024</h2>
    <h3>Targi Kielce, Kielce, Poland</h3>
    <h4>We are thrilled to announce the Kielce Experimental and Theoretical Conference on High-energy and Universe Physics 2024 (KETCHUP 2024), a premier event dedicated to advancing the field of high energy physics. This conference will be held from September 12, 2024, at Targi Kielce in the beautiful city of Kielce, Poland.
        KETCHUP 2024 aims to bring together renowned physicists, researchers, and academicians to share their latest research findings, discuss innovative ideas, and foster collaborations in high energy physics. The event will feature an exciting array of keynote lectures and plenary sessions.</h4>

        <h3>Key themes</h3>
        <ul>
            <li>Experimental Particle Physics   </li>
            <li>Theoretical Advances   </li>
            <li>Quantum Chromodynamics   </li>
        </ul>

        <h2>How to reach Kielce</h2>
        <ol>
            <li><h4>Fly to Poland</h4></li>
            <ul> <li><h4>Main Airports: The nearest major airports are Warsaw Chopin Airport (WAW) and Kraków John Paul II International Airport (KRK), both of which have numerous international flights.</h4></li>
            </ul>

            <li><h4>Travel to Kielce:</h4></li>
            <ul> <li><h4>From Warsaw:</h4></li>
                <ul> <li><h4>By Train: Take an intercity train (IC or TLK) from Warsaw Central Railway Station to Kielce. The journey takes approximately 2-3 hours.</h4></li>
                    <li><h4>By Car: Drive from Warsaw to Kielce via the S7 expressway. The drive takes about 2 hours.</h4></li>
                </ul>
            </ul>
            <ul> <li><h4>From Kraków:</h4></li>
                <ul> <li><h4>By Train: Take an intercity train (IC or TLK) from Kraków Główny Railway Station to Kielce. The journey takes approximately 2 hours.</h4></li>
                    <li><h4>By Car: Drive from Kraków to Kielce via the A4 and S7 expressways. The drive takes about 1.5 hours.</h4></li>
                </ul>
            </ul>

            <li><h4>Reaching Targi Kielce:</h4></li>
            <ul> <li><h4>From Kielce Railway Station</h4></li>
                <ul> 
                    <li><h4>By Taxi: A taxi ride from the railway station to Targi Kielce takes around 15 minutes.</h4></li>
                    <li><h4>By Bus: Take bus number 100 from the railway station to Targi Kielce. The bus ride takes about 20 minutes.</h4></li>
                    <li><h4>By Car: Drive from the railway station to Targi Kielce. The drive takes about 15 minutes.</h4></li>
                </ul>
            </ul>

            <li><h4>Address of Targi Kielce:</h4></li>
            <ul> <li><h4>Location: Zakładowa 1, 25-672 Kielce, Poland</h4></li></ul>
        </ol>
{% endblock %}